body {
   display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0;
}

.game-container {
   
    align-items: center;
    text-align: center;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    width: 90%;
    max-width: 600px;
    margin: 20px; /* Add margin to create space */
}
.tokens-container {
	display: flex;
    flex-direction: row;
}
.completed-container,
.skipped-container {
	
    margin: 20px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    min-width: 220px;
    min-height: 330px;
    max-width: 200px;
    max-height: 300px;
    align-items: center;
    /* Align to the left */
}

.points-container {
    display: block;
    min-height: 50px;
}
button {
    padding: 10px 20px;
    margin: 0px 20px 0px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

.points {
    font-size: 24px;
    font-weight: bold;
    color: #007bff;
}
