<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Little Genius</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="theme-toggle">
        <input type="checkbox" id="darkModeToggle" onclick="toggleDarkMode()">
        <label for="darkModeToggle"></label>
    </div>
    <div class="game-container">
        <div class="progress-ring-container">
            <svg class="progress-ring" width="120" height="120">
                <circle class="progress-ring__circle" stroke="violet" stroke-width="4" fill="transparent" r="52" cx="60" cy="60"/>
            </svg>
            <div class="current-token-circle">
                <span th:text="${currentToken}"></span>
            </div>
        </div>
        
        <table>
            <tr th:each="row, rowIndex : ${board}">
                <td th:each="cell, cellIndex : ${row}" th:text="${cell}" th:id="${'cell-' + rowIndex.index + '-' + cellIndex.index}" class="game-cell" th:attr="data-value=${cell}"></td>
            </tr>
        </table>
        <section class="message">
            <p th:text="${message}"></p>
        </section>
        <div class="button-container">
            <form th:action="@{/play}" method="post" style="display:none;">
                <input type="hidden" id="numbersInput" name="numbers" value="">
            </form>
            <form th:action="@{/skip}" method="post">
                <button type="submit" class="button">Skip</button>
            </form>
            <form th:action="@{/reset}" method="post">
                <button type="submit" class="button">Reset</button>
            </form>
        </div>
        <div class="points-container">
            <h4>Points</h4>
            <p class="points" th:text="${points}"></p>
        </div>
    </div>
    <div class="tokens-container">
        <div class="completed-container">
            <h5>Tokens Completed</h5>
            <p th:text="${tokensCompleted}"></p>
        </div>
        <div class="skipped-container">
            <h5>Tokens Skipped</h5>
            <p th:text="${tokensSkipped}"></p>
        </div>
    </div>
    <script src="/scripts.js"></script>
    <script>
        function setProgress(percent) {
            const circle = document.querySelector('.progress-ring__circle');
            const radius = circle.r.baseVal.value;
            const circumference = 2 * Math.PI * radius;
            circle.style.strokeDasharray = `${circumference} ${circumference}`;
            circle.style.strokeDashoffset = circumference - percent / 100 * circumference;
        }

        document.addEventListener('DOMContentLoaded', () => {
            const progress = [[${progress}]]; // Get progress percentage from the backend
            setProgress(progress);
        });
    </script>
</body>
</html>
