<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Game Board</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="game-container">
        <h1>Game Board</h1>
        <p>Current token: <span th:text="${currentToken}"></span></p>
        <table>
            <tr th:each="row, rowIndex : ${board}">
                <td th:each="cell, cellIndex : ${row}" th:text="${cell}" th:id="${'cell-' + rowIndex.index + '-' + cellIndex.index}" class="game-cell"></td>
            </tr>
        </table>
        <section class="message">
            <p th:text="${message}"></p>
        </section>
        <div class="button-container">
            <form th:action="@{/play}" method="post" style="display:none;">
                <input type="hidden" id="numbersInput" name="numbers" value="">
            </form>
            <form th:action="@{/skip}" method="post">
                <button type="submit">Skip</button>
            </form>
            <form th:action="@{/reset}" method="post">
                <button type="submit">Reset</button>
            </form>
        </div>
        <div class="points-container">
            <h4>Points</h4>
            <p class="points" th:text="${points}"></p>
        </div>
    </div>
    <div class="tokens-container">
        <div class="completed-container">
            <h5>Tokens Completed</h5>
            <p th:text="${tokensCompleted}"></p>
        </div>
        <div class="skipped-container">
            <h5>Tokens Skipped</h5>
            <p th:text="${tokensSkipped}"></p>
        </div>
    </div>
    <script src="/scripts.js"></script>
</body>
</html>
